{% extends './base.html' %}

{% block start %}
<button type="button" class="btn btn-primary" >
    <a href="/dashboard/selectedmember/view/" class="text-light">View Select Member</a>
</button>
{% comment %} <button type="button" class="btn btn-primary" >
    <a href="clearAll/delete/" class="text-light">Clear All</a>
</button> {% endcomment %}

<button class="btn btn-danger" id="deleteData">clear All Data</button>

<br>
<h2 class="text-center">Deleted Member</h2>
<br>
<div class="container">
  <table style="width: 100%; boreder:2px solid">
      <thead>
          <tr>
              <th>No</th>
              <th>Deleted Date-Time</th>
              <th>Name</th>
              <th>Email</th>
              <th>Topic</th>
              <th>Restore</th>
          </tr>
      </thead>
      <tbody>
          {% if deleteMemberData %}
              {% for i in deleteMemberData %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ i.dataTime }}</td>
                    <td>{{ i.deletedMemberObj.memberId.name }}</td>
                    <td>{{ i.deletedMemberObj.memberId.email }}</td>
                    <td>{{ i.deletedMemberObj.topicName }}</td>
                    <td><a href="/dashboard/selectedmember/delete/restore/?restore={{ i.id }}&deletedId={{i.deletedMemberObj.id}}">Restore</a></td>
                </tr>
              {% endfor %}
          {% endif %}
      </tbody>
  </table>
</div>

<script>
    document.getElementById('deleteData').addEventListener('click', function () {
      Swal.fire({
          icon: 'info',
          title: 'Oops...',
          text: 'All Data Remove Please Confirmed..'
      }).then(okay => {
        if (okay['isConfirmed']) {
          window.location.href = "clearAll/delete/";
        }else{
          window.location.href = "";
        }
      });
  });
  </script>
{% endblock  %}