{% extends './base.html' %}

{% block start %}
<div class="container rounded mt-3">
  <h1 class="text-center rounded p-2">Deleted Employees</h1>
</div>
<div class="container">
  <table id="example" class="table table-striped" style="width: 100%;">
    <thead>
      <tr>
        <th>No</th>
        <th>Deleted Date-Time</th>
        <th>Name</th>
        <th>Email</th>
        <th>Topic</th>
        <th>Restore</th>
      </tr>
    </thead>
    <tbody>
      {% if deleteMemberData %}
      {% for i in deleteMemberData %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ i.dataTime }}</td>
        <td>{{ i.deletedMemberObj.memberId.name }}</td>
        <td>{{ i.deletedMemberObj.memberId.email }}</td>
        <td>{{ i.deletedMemberObj.topicName }}</td>
        <td><a class="deletedmemberdelete" data-Name="{{i.deletedMemberObj.memberId.name}}"
            data-deletemember="{{ i.deletedMemberObj.id}}" data-restore="{{ i.id }}">Restore</a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}