{% extends './base.html' %}

{% block start %}

<button class="btn btn-danger" id="Historyclear">clear History</button>

<br>
<h2 class="text-center">History Selected Member</h2>
<br>
<table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Topic</th>
      </tr>
    </thead>
    <tbody>
        {% for i in historydata %}
        <tr>
            <td>{{i.seminarDate}}</td>
            <td>{{i.memberName}}</td>
            <td>{{i.memberEmail}}</td>
            <td>{{i.topicName}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <script>
    document.getElementById('Historyclear').addEventListener('click', function () {
      Swal.fire({
          icon: 'info',
          title: 'Oops...',
          text: 'Please Confirm To History Clear....'
      }).then(okay => {
        if (okay['isConfirmed']) {
          window.location.href = "/dashboard/history/clearall/";
        }else{
          window.location.href = "";
        }
      });
  });
  </script>
{% endblock %}