{% extends './base.html' %}

{% block start %}
<div class="container rounded mt-3">
  <h1 class="text-center rounded p-2">History Selected Employees</h1>
</div>

<div class="container">

  <table id="example" class="table table-striped" style="width: 100%;">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Topic</th>
      </tr>
    </thead>
    <tbody>
      {% for i in historydata %}
      <tr>
        <td>{{i.seminarDate}}</td>
        <td>{{i.memberName}}</td>
        <td>{{i.memberEmail}}</td>
        <td>{{i.topicName}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}