{% extends './base.html' %}

{% block start %}
<div class="container rounded mt-3">
  <h1 class="text-center rounded p-2">History Selected Employees</h1>
</div>

<div class="container">

  <table id="example" class="table table-striped" style="width: 100%; border-bottom: 1px solid #0d6efd;">
    <thead>
      <tr>
        <th scope="col" class="text-white">Date</th>
        <th class="text-white">Name</th>
        <th class="text-white">Email</th>
        <th class="text-white">Topic</th>
      </tr>
    </thead>
    <tbody>
      {% for i in historydata %}
      <tr>
        <td class="text-white">{{ i.seminarDate|date:"d M, Y" }}</td>
        <td class="text-white">{{i.memberName}}</td>
        <td class="text-white">{{i.memberEmail}}</td>
        <td class="text-white">{{i.topicName}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}