{% extends './base.html' %}

{% block start %}
{% load static %}
<div class="container-fluid p-0" style="height:800px;">
    <img src="{% static 'img/istockphoto-869149488-612x612.jpg' %}" alt="" width="100%" height="882px" style="object-fit: cover;" >
    <!-- <img src="https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?crop=entropy&cs=tinysrgb&[…]hbmRvbXx8fHx8fHx8fDE2NzQ1NTI3MjU&ixlib=rb-4.0.3&q=80&w=auto" alt="" width="100%" height="882px" style="object-fit: cover;" > -->
    <!-- <img src="" alt="" width="100%" height="882px" style="object-fit: cover;" > -->

</div>

{% endblock %}